logs
target

/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
/*.code-workspace

/client/.vscode
/client/dist
/client/node_modules
/client/.DS_Store
/client/.env.local
/client/.env.*.local
/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*
/client/package-lock.json
